NAME_OF_SYSTEM:
    IMERG: '/path/to/IMERG/half_hourly/final/'
    ERA5: '/path/to/ERA-5/'
    OROGRAPHY_FILENAME: 'orography_filename.nc'
    LSM_FILENAME: 'lsm_filename.nc'
    CONSTANTS: '/path/to/constants_folder/'     

NAME_OF_OTHER_SYSTEM:
    IMERG: '/path/to/other/IMERG/half_hourly/final/'
    ERA5: '/path/to/other/ERA-5/'
    OROGRAPHY_FILENAME: 'other_orography.nc'
    LSM_FILENAME: 'lsm.nc'
    CONSTANTS: '/path/to/other/constants_folder/'  